.app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  scrollbar-width: none;
}

.mobile-warning {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  color: #333;
  margin-top: 45vh;
}