.main {
    height: 100px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    margin-right: 20px;
}

.menu-item {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    };
    &:active {
        color: red;
    };
}