.header-main {
    height: 100px;
}

.header-logo {
    width: 240px; 
    height: 100px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    margin-right: 20px;
}

.menu-item {
    font-weight: 500;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    };
}
